<div class="user-card saved"  *ngFor="let savedUser of savedUsers">
      <app-user-details  [userIcon]="savedUser.user.picture.medium" [firstName]="savedUser.user.name.first " [lastName]="savedUser.user.name.last" [gender]="savedUser.user.gender" [city]="savedUser.user.location.city" [country]="savedUser.user.location.country" [email]="savedUser.user.email"></app-user-details>
      <app-weather-details [icon]="savedUser.icon" [current]="savedUser.weatherData.currentTemperature" [highest]="savedUser.weatherData.highestTemperature" [lowest]="savedUser.weatherData.lowestTemperature"></app-weather-details>
</div> 
 
