<div class="user-card" *ngIf="user">
   <app-user-details  [userIcon]="user.picture.medium" [firstName]="user.name.first" [lastName]="user.name.last" [gender]="user.gender" [city]="user.location.city" [country]="user.location.country" [email]="user.email"></app-user-details>
   <app-weather-details *ngIf="weatherData"  [icon]="icon" [current]= 'weatherData.currentTemperature' [highest]="weatherData.highestTemperature" [lowest]="weatherData.lowestTemperature"></app-weather-details>
   <button type="button" [disabled]="clicked" (click)="saveUser(); clicked = true;" > Save </button>
</div> 



  