html,
body{
    height: 100%;
    line-height: 1;
}
*,
*::after,
*::before
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;

}
textarea,
button,
input{
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}
button{
    background-color: inherit;
    cursor: pointer;
}

a{
    text-decoration: none; 
    color: inherit; 
    cursor: pointer;

}

ul,
ol,
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
font-weight:inherit;
font-size:inherit;
}

img{
    vertical-align: top;
    
}
ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}
.user-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    gap: 10px;
    margin-bottom: 32px;
}

.user-details {
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.weather-details button {
    background-color: #2f2f2f;
    color: #fff;
    border-radius: 6px;
    padding: 9px 18px;
    flex: 0 0 auto;
    cursor: pointer;
    transition: background-color 0.5ms;
    align-self: stretch;
}
.weather-details button:hover {
   background: #6f6e6e;
}


.user-details img {
    max-width: 100px;
    border-radius: 50%;
}
.user-details p {
    margin-bottom: 5px;
}

.weather-details {
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    
}
.weather-details.saved {
    justify-content: space-evenly;
}

.weather-details img {
    max-width: 50px;
}

h2 {
    margin: 10px 0;
    font-size: 20px;
}

@media (max-width:370px) {
    .user-card{
        flex-direction: column;
    }
    .weather-details button {
        margin-top: 10px;
    }
}
